key
data/json_2.1.0
FloorPlan1.json

# add
- DOMAIN-SUFFIX,ident.me,DIRECT
- DOMAIN-SUFFIX,qq.me,DIRECT
- DOMAIN-SUFFIX,git-zju-edu-cn-s.webvpn.zju.edu.cn,DIRECT
- DOMAIN-SUFFIX,zju.edu.cn,DIRECT
- DOMAIN-SUFFIX,linkedin.com,Auto-Fast
- DOMAIN-SUFFIX,bing.com,Auto-Failover
- DOMAIN-SUFFIX,msn,Auto-Failover
- DOMAIN-SUFFIX,microsoft.com,Auto-Failover
- DOMAIN-SUFFIX,microsoftonline.com,Auto-Failover
- DOMAIN-SUFFIX,github.com,Auto-Fast
- DOMAIN-SUFFIX,docker.com,Auto-Fast
- DOMAIN-SUFFIX,githubusercontent.com,Auto-Fast
- DOMAIN-SUFFIX,anaconda.org,Auto-Fast
- DOMAIN-SUFFIX,grammarly.com,DIRECT
- DOMAIN-SUFFIX,supercomputing.org,Auto-Fast
- DOMAIN-SUFFIX,readthedocs.io,Auto-Fast
- DOMAIN-SUFFIX,accounts.google.com,Auto-Fast
- DOMAIN-SUFFIX,pro-vestra.com,Auto-Failover
- DOMAIN-SUFFIX,science.org,Auto-Failover
- DOMAIN-SUFFIX,cmu.edu,Auto-Failover
- DOMAIN-SUFFIX,state.gov,DIRECT
- DOMAIN-SUFFIX,ethz.ch,DIRECT
- DOMAIN-SUFFIX,epfl.ch,DIRECT